html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }

  body{
    font-family: $main-font;
    background-color: $main-header-color;
    font-style: normal;
}
