
    $main-font: "Roboto", sans-serif;
    $logo-font: "Raleway", sans-serif;
    $bold-title-color: #212121;
    $accent-color: #2196F3;
    $p-text-color: #757575;
    $main-header-color: #FFFFFF;
    $mail-phone-bot-color: rgba(255, 255, 255, 0.6);
    $black-colour:  #000000;
    $decor-color: rgba(175, 177, 184, 1);
